aiohttp==3.3.2
appdirs==1.4.3
async-timeout==3.0.0
attrs==18.1.0
cffi==1.11.5
chardet==3.0.4
discord.py==1.0.0a1497+g8d39ab8
fs==2.1.0
idna==2.7
multidict==4.3.1
pycparser==2.18
pytz==2018.5
six==1.11.0
websockets==6.0
yarl==1.2.6
lxml
