aiohttp==3.3.2
async-timeout==3.0.0
attrs==18.1.0
cffi==1.11.5
chardet==3.0.4
git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py
idna==2.7
multidict==4.3.1
pycparser==2.18
six==1.11.0
websockets==6.0
yarl==1.2.6
fs
