{% extends "../base.html" %}

{% block title %}
    {{ escape(handler.settings["website_title"]) }} - {{ _("Connection") }}
{% end %}

{% block body %}
    {% if error %}
        <span style="color: red">Error: {{ error }}</span><p>
    {% end %}

    <form action="/auth/login" method="POST">
        Email: <input name="email" type="text" required><br>
        Password: <input name="password" type="password" required><br>
        {% module xsrf_form_html() %}
        <input type="submit">
    </form>
    New here? <a href="/auth/create?next={{ get_arg("next","") }}">Create account</a>
{% end %}